{% extends "public.html" %} {% block page %}
<div  style="width: 240px">
  

    <p class="text-h1">{% raw %}{{ updatedAmount }}{% endraw %}</p>
    <p class="text-h3">{{ title }}</p>
    <p class="text-h4">{{ description }}</p>
    
    <q-card class="my-card">
      <qrcode
        :value="'lightning:' + lnurl"
        :options="{width:250}"
        class="rounded-borders"
      ></qrcode>
     
      <div class="row q-mt-lg q-gutter-sm">
        <q-btn outline color="grey" @click="copyText('{{ updatedLnurl }}')"
          >Copy LNURL</q-btn
        >
      </div>
    
   </q-card>
  </div>
{% endblock %} {% block scripts %}
<script>
  Vue.component(VueQrcode.name, VueQrcode)
  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        amount: 100,
        lnurl: "",
        donation: '{{ donation }}'
      }
    },
    computed: {
      updatedAmount: function () {
        self = this
        return self.amount
      },
      updatedLnurl: function () {
        self = this
        return self.lnurl
      }
    },
    methods: {
      getLNURL: function(){
        var self = this
        LNbits.api
          .request(
            'GET',
            '/api/v1/donations/lnurl/' + this.donation
          )
          .then(function (response) {
            self.lnurl
          })
        return 
      }
    },
    created: function () {
      var getLNURL = this.getLNURL
      getLNURL()
      self = this
      if (location.protocol !== 'http:') {
        localUrl =
          'wss://' +
          document.domain +
          ':' +
          location.port +
          '/api/v1/ws/' +
          this.donation
      } else {
        localUrl =
          'ws://' +
          document.domain +
          ':' +
          location.port +
          '/api/v1/ws/' +
          this.donation
      }
      console.log(localUrl)
      this.connection = new WebSocket(localUrl)
      this.connection.onmessage = function (e) {
        console.log(e.data)
        self.amount = e.data
      }
      this.connection.onopen = () => this.launch
    }
  })
</script>
{% endblock %}
